$color_1: #5c8599;
$color_2: #8fa7b3;
$color_3: #37c77f;
$color_4: #ffffff;

#page-create-institution {
  display: flex;
  main {
    flex: 1;
  }
}
form.create-institution-form {
  width: 700px;
  margin: 64px auto;
  background: #ffffff;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  padding: 64px 80px;
  overflow: hidden;
  .leaflet-container {
    margin-bottom: 0.5rem;
    border: 1px solid #d3e2e5;
    border-radius: 20px;
  }
  fieldset {
    border: 0;
    + {
      fieldset {
        margin-top: 80px;
      }
    }
    legend {
      width: 100%;
      font-size: 32px;
      line-height: 34px;
      color: $color_1;
      font-weight: 700;
      border-bottom: 1px solid #d3e2e5;
      margin-bottom: 40px;
      padding-bottom: 24px;
    }
    small {
      color: rgb(150, 150, 150);
    }
  }
  .input-block {
    + {
      .input-block {
        margin-top: 24px;
      }
    }
    label {
      display: flex;
      color: $color_2;
      margin-bottom: 8px;
      line-height: 24px;
      span {
        font-size: 14px;
        color: $color_2;
        margin-left: 24px;
        line-height: 24px;
      }
    }
    input {
      width: 100%;
      background: #f5f8fa;
      border: 1px solid #d3e2e5;
      border-radius: 20px;
      outline: none;
      color: $color_1;
      height: 64px;
      padding: 0 16px;
    }
    textarea {
      width: 100%;
      background: #f5f8fa;
      border: 1px solid #d3e2e5;
      border-radius: 20px;
      outline: none;
      color: $color_1;
      min-height: 120px;
      max-height: 380px;
      resize: vertical;
      padding: 16px;
      line-height: 28px;
    }
    .images-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px;

      .thumbnail {
        width: 100%;
        position: relative;
        border-radius: 16px;
        height: 96px;
        width: 122.5px;

        img {
          border-radius: 16px;
        }

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          position: absolute;
          top: 25;
          right: 25;
          margin-right: 5px;
          margin-top: 5px;
          width: 100%;
          color: #b30000;
          text-align: right;
          cursor: auto;
          z-index: 1;
        }
      }

      .new-image {
        height: 96px;
        background: #f5f8fa;
        border: 1px dashed #96d2f0;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    input[type="file"] {
      display: none;
    }
    .button-select {
      display: grid;
      grid-template-columns: 1fr 1fr;
      button {
        height: 64px;
        background: #f5f8fa;
        border: 1px solid #d3e2e5;
        color: $color_1;
        cursor: pointer;
        &:first-child {
          border-radius: 20px 0px 0px 20px;
        }
        &:last-child {
          border-radius: 0 20px 20px 0;
          border-left: 0;
        }
      }
      button.active {
        background: #edfff6;
        border: 1px solid #a1e9c5;
        color: $color_3;
      }
    }
  }
  button.confirm-button {
    margin-top: 64px;
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #3cdc8c;
    border-radius: 20px;
    color: $color_4;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    svg {
      margin-right: 16px;
    }
    &:hover {
      background: #36cf82;
    }
  }
}
